@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,100,100italic,300,300italic,400italic,600,700,600italic,700italic);

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    /* scroll-behavior: smooth; */

}

ul {
    list-style-type: none;
  }

  a{
      text-decoration: none !important ;
      color: white !important;
  }



  #brojac {
    height: auto;
  
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }

  #brojac span {
    font-size: 100px;
  }

  .broj {
 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
   
  }


  #modalPodataka {
    width: 100%;
    height: 800px;
    background-color: #4d005a58;
   
    position: fixed;
    display: flex;
    justify-content: space-around;
   
    z-index: 1000;
    display: none;
  }

  #poljeModala {
    width: 50%;
    height: auto;
    background-color: #0d000f;
    margin: 80px auto;
    border-radius:15px ;
    padding-bottom: 30px;
    font-family: 'Bebas Neue', cursive;
  }

  #headerModala{
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(58, 3, 49);
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: flex-end;
  }

  #escape{
    border-radius: 0px 15px 0px 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    
    padding: 10px;
    cursor: pointer;
  }

  #contentModala{
    text-align: center;
    margin: 20px auto;
    width: 60%;
    padding-bottom: 30px;
    color: white;
  }







  #mainBaner {
    height: auto;
 background-image: url(../img/ban8.jpg);
 background-position: center;
 background-size: cover;
  }

  #mainLevo{
    height: auto;
    backdrop-filter: blur(10px);
   
    
  }

  #mainDesno{
    height: auto;
   
    
  }

  #nav{
    height: 100px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top: 30px;
  }

  
  #navigacija {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    
  }

  #navigacija li a{
    font-size: 25px;
   
  }

  #logo{
    height: 100px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top: 10px;
  }

  #logo img{
    width: 130px;
  }

  #naslov {
  
    height: auto;
    margin-top: 30px;
    padding-top: 40px;
    font-family: 'Bebas Neue', cursive;
  }

  #naslov h1 {
    color: white;
    font-size: 80px;
  }

  #naslov h2 {
    background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(245, 245, 102), orange, rgb(219, 43, 196));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 60px;
  }
 
  #naslov p {
    color: white;
  }

  #naslovDugme {
    background-image: linear-gradient(to left, violet, indigo, orange, rgb(219, 43, 196));
    color: white;
    padding: 10px;
    
  }

  #aboutUs {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    color: white;

  }

   

  .about {
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    position: relative;
    
  }


  #abSlika {
    width: 350px;
    height: 350px;
    background-image: url('../img/blok13.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0px auto;
    clip-path: polygon(0 0, 72% 0, 100% 23%, 100% 100%, 28% 100%, 0 70%);
  }

  #abTekst {
    width: 300px;
    height: 300px;
    padding: 15px;
    background-color: #6327a4af;
    
    color: white;
    position: absolute;
    top:55px;
    left: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 44% 100%, 0 54%);
  }

  #abTekst h5 {
    border-bottom:1px solid white;
  }

  #abTekst img {
    width: 50px;
    cursor: pointer;
  }

  .pulse {
    border-radius: 50%;
    background: #4c005a;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(177, 33, 212, 0.4);
    /* animation: pulse 1s infinite; */
  }
  .pulse:hover {
    animation: none;
  }
  
  /* @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  } */


  
  #valuteLista {
    font-family: 'Bebas Neue', cursive;
    height: auto;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .valuta {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
   
 
  }

  .valuta img {
    width: 150px;
    filter: drop-shadow(0 0 0.75rem rgb(243, 209, 20));
  }

  .valuta button {
    background-color: white;
    margin-top: 15px;
  }



  #val1 {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .valStyle {
    height: auto;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(46, 46, 46, 0.604), rgba(248, 248, 165, 0));
    border-radius: 15px;
  }

  .valStyle h3 {
    color: white;
    font-weight: bold;
    
  }

  #grafikoni {
    height: auto;
    background-color: rgb(0, 0, 0);
    color: white;
    
  }


  #cartPodaci {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
   
  }


  
  #kalkulator {
    height: auto;
    background-image: url(../img/ban8.jpg);
 background-position: center;
 background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
  }


  #tablaKalkulator{
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 15px;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

input {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    
  }

  select {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  #tablaKalkulator button {
    background-color: black;
    border: 2px solid white;
    color: white;
  }


  #izlaz{
    height: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
  }

  #utisci {
    height: auto;
    background-color: rgb(0, 0, 0);
    position: relative;

  }

.dval {
  border: 1px solid black;
 display: flex;

 
 justify-content: space-around;
 color: white;
 
 
}


#news {
  height: auto;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#vestiBoks{
 width: 50%;
 height: 300px;
 background-color: #4d005a55;
 overflow-y: scroll;
}

.zasebnaVest{
  height: auto;
  padding: 15px;
  background-color: #4d005a55;
  border-bottom: 2px solid #4d005a55 ;
  animation: slide-in 1000ms;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}


#kontakt {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../img/ban8.jpg);
  background-size: cover;

  color: white;
  text-align: center;
 
}

#formaKontakt {
  flex-direction: column;
  justify-content: space-around ;
  display: flex;
 align-items: center;
 height: auto;
 padding-bottom: 30px;
 backdrop-filter: blur(10px);
 color: white;
 text-align: center;
}

#formaKontakt input {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom:2px solid white ;
  margin-bottom: 20px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}



#formaKontakt [type=radio]{
margin-bottom: 0px
}

#formaKontakt textarea{
  width: 50%;
  
  background: transparent;
  color: white;
}

#formaKontakt [type=range]{
  margin-bottom: 0px;

  
  }

  #formaKontakt label {
    margin-top: 20px;
  }

#kontakt button
{
  width: 40%;
}

.badForm {
  border-bottom: 3px solid red !important;
}

.goodForm {
  border-bottom: 3px solid rgb(89, 255, 0) !important;
  background: transparent;
}

  
 
  #subm {
    
    color: rgb(0, 0, 0);
    margin-top: 25px;
    background-color: white;
  }


  #hamburger{
    float: right;
    color: white;
    display: none;
  }

  #respNavigacija {
       height: 100%;
       background-color: #0d000f70;
       position: fixed;
       z-index: 300;
       display: none;
       animation: slide-in 500ms;
    
  }

  #respMeni{
    height: 100%;
  }

  #headerResp {
    text-align: center;
    border-bottom: 1px solid black;

  }

  #miniMeni{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    text-align: center;

  }

  #miniMeni li {
    background-color: #0d000f;
    padding: 10px;
    text-align: center;
  }


  #slajder {
    height: auto;
    padding: 30px;
    background-color: #000000;
 
    color: white;
  }

  #sliderNaslov {
    text-align: center;
  }

  .slider{
    position:relative;
    width:100%;
    overflow:hidden;
    margin:0px auto 0 auto;
    border-radius: 20px;
    background: black;

  }
  
  .slider ul{
    
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    height:200px;
    display:inline-block;
    list-style:none;
    
  }
  
  
  .slider ul li{
    position:relative;

    display:inline-block;
    margin:0;
    padding:0;
    width:900px;
    height:300px;
    background:rgb(0, 0, 0);
    text-align:center;
    line-height:300px;
    color:rgb(255, 255, 255);
    font-size: 25px;
  }
  
  
  .control{
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  .prev{
    left:0px;
  }
  
  .next{
    right:0px;
  }
  

  #autor {
    height: auto;
    padding: 25px;
    background-image: url(../img/ban8.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #autorSlika {
    width: 300px;
    height: 300px;
    background-color: #4c005a;
    border-radius: 50%;
    background-image: url('../img/avatar1.jpg');
    
    background-position: center;
    background-size: cover;
  }
  
  .oAutoru {
    font-size: 25px;
    margin: 10px;
    color: white;
  }
 
  #viseOautoru{
    background-color: white;
    color: #000000;
  }

  #infoAutor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }

  #autorDodatak {
    display: none;
   

    animation: slide-in 1000ms;
    color: white;
    padding: 40px;
    font-size: 30px;
  }
  

  #aa {

    width: 100%;
  }



  @media only screen and (max-width: 600px) {
    #poljeModala {
      width: 80%;
   
    }


    #abTekst , #abSlika {
      display: none;
   
    }

    #logo img {
      width: 100px;
    }


    #hamburger{
      float: right;
      color: white;
      display: block;
      padding-top: 10px;
    }

    #hamburger img{
      width: 50px;
    }


    #navigacija {
      display: none;
      
    }

    #slajder {
  display: none;
    }
  
  
  }

  /*footer*/
  .footer-section {
    background: #151414;
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: #5c0a6f;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #6e0498;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #6c036b;
  }
  .footer-widget ul li {
    display: inline-block;
    
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
    color: #9514ff;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  .subscribe-form button {
      position: absolute;
      right: 0;
      background: #d814ff;
      padding: 13px 20px;
      border: 1px solid #6d0561;
      top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #650a75;
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a{
    color: #59086f;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }


  #investGreska {
    color: rgb(255, 0, 0);
  }

  #praznaLista {
    color: rgb(255, 0, 0);
  }


